<div class="container">
    <div class="row justify-content-start">
        <div class="col my-3">
            <h1 class="display-3 float-left">Quick Actions</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 col-12 my-2 text-center">
            <div class="card shadow-lg">
                <div class="card-body ">

                    <h4 class="card-title">Add patient</h5>
                        <a href="/dashboard/addPatient" class="btn btn-primary border-radius">Go &raquo;</a>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 my-2 text-center">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Edit patient</h5>
                    <a href="/dashboard/editPatient" class="btn btn-primary border-radius">Go &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 my-2 text-center">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Delete patient</h5>
                    <a href="/dashboard/deletePatient" class="btn btn-primary border-radius">Go &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center my-4">
        <div class="col-md-4 col-sm-6 col-12 my-2 text-center">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">View patient</h5>
                    <a href="/dashboard/viewPatient" class="btn btn-primary border-radius ">Go &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-12 my-2 text-center">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h5 class="card-title">Billing</h5>
                    <a href="/dashboard/billing" class="btn btn-primary border-radius ">Go &raquo;</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-start">
        <div class="col my-2">
            <h1 class="display-3 float-left">Quick Search</h1>
        </div>
    </div>
    <div class="row justify-content-center my-4">
        <form method='POST' action='/dashboard/patientSearch'>
            <div class="row my-2">
                <div class="col-md-3 col-12 my-2 text-md-center">
                    <label for="">Patient Id<span class="text-danger">*</span></label>
                </div>
                <div class="col-md-6 col-12 my-2">
                    <input type="text" class="form-control" name="patient_id" id="patient_id" aria-describedby="helpId"
                        placeholder="" required="">
                </div>
                <div class="col-md-3 col-12 my-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="row justify-content-center">
        <div class="col-6 mb-5">
            {% include "includes/_messages.html"%}
        </div>
    </div>
    {% if p %}
    <div class="row justify-content-center">
        <div class="col-12 mb-5">
            <table class=" table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Patient ID</th>
                        <th scope="col">Patient Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Address</th>
                        <th scope="col">DOJ</th>
                        <th scope="col">Type of Room</th>
                        <th scope="col">Patient Status</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th>{{p.pat_id}}</th>
                        <td>{{p.pat_name}}</td>
                        <td>{{p.pat_age}}</td>
                        <td>{{p.pat_addr}}</td>
                        <td>{{p.pat_doa}}</td>
                        <td>{{p.pat_bed_type}}</td>
                        <td>{{p.pat_status}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    {% endif %}
</div>