{% extends "base.html" %}

{% block body %}


{% include "includes/_messages.html" %}

<div class='container'>
    <div class="row justify-content-center">
        <div class="col my-3">
            <h1 class="display-4 text-center">Update Diagnostic</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-12 my-2">
            <form method="POST" action='/dashboard/updateDiagnostic'>
                <div class="row my-4">
                    <div class="col-md-4 col-12">
                        <label>Diagnostic Test Id<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="number" class="form-control" name="diagnostic_id" id="diagnostic_id"
                            aria-describedby="helpId" placeholder="" required>
                    </div>
                </div>
                <div class="row justify-content-center my-3">

                    <div class="col-md-4 col-12 my-md-0 my-2">
                        <input type="submit" class="btn btn-primary btn-block " value="Get">

                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if d %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-12 my-2">
            <form method="POST" action='/dashboard/diagnosticUpdate'>
                <div class="row my-4">
                    <div class="col-md-4 col-12">
                        <label>Diagnostic Test Id<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="did" id="did"
                            value="{{d.diag_id}}" aria-describedby="helpId" placeholder="" readonly>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-md-4 col-12">
                        <label>Diagnostic Test Name<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="text" class="form-control" name="dname" id="dname"
                            value="{{d.diag_name}}" aria-describedby="helpId" placeholder="" required>
                    </div>
                </div>
                <div class="row my-4">

                    <div class="col-md-4 col-12">
                        <label>Cost<span class="text-danger">*</span></label>
                    </div>
                    <div class="col-md-8 col-12">
                        <input type="number" class="form-control" name="dcost" id="dcost"
                            value="{{d.diag_cost}}" aria-describedby="helpId" placeholder="" required>
                    </div>
                </div>

                <div class="row justify-content-center my-3">

                    <div class="col-md-6 col-12 my-md-0 my-2">
                        <input type="submit" class="btn btn-primary btn-block " value="Update">

                    </div>

                </div>
            </form>
        </div>
    </div>

    {% endif %}

</div>

{% endblock %}